<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <style>
            body {
                background-color: #ffcc99; /* Light Orange */
                font-family: Arial, sans-serif;
            }

            .content {
                font-size: 35px; /* Font size for specific content */
                font-weight: bold; /* Bold Text */
            }
        </style>
    </head>
    <body>
        <div class="content">
            THIS IS A SAMPLE NODE JS APPLICATION
        </div>
    </body>
</html>

